<h1>
    Starshop: your monopoly-busting option for Starship parts!
</h1>

<div>
    Browse through {{ numberOfStarships * 10 }} starships!

    {% if numberOfStarships > 400 %}
        <p>
            {# Do you think "shiploads" will pass the legal team? #}
            That's a lot a shiploads of ships!
        </p>
    {% endif %}
</div>
